@font-face {
    font-family: 'tanha';
    src: url(/fonts/Tanha-FD.woff2);
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'tanha';
    background-color: #151515;
}
.section_price{
    padding: 62px 0px;
}
.container{}
.header{}
.text_header{
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.main{}
.box_main{}
.title_box_main{}
.content_box_main{}
.number_price_content_box{}
.text_content_box_main{}
.list{}
.item{}
.btn{}