@font-face {
    font-family: 'tanha';
    src: url(/fonts/Tanha-FD.woff2);
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'tanha';
    background-color: #151515;
}
.section_price{
    padding: 62px 0px;
}
.container{}
.header{}
.text_header{
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.main{
    margin-top: 50px;
}
.box_main{
    border: 1px solid #464646;
    text-align: center;
    padding: 37px 22px;
    transform: skewY(-4deg);
}
.title_box_main{
    transform: skewY(4deg);
}
.content_box_main{
    transform: skewY(4deg);
}
.number_price_content_box{}
.text_content_box_main{}
.list{
    transform: skewY(4deg);
}
.item{}
.btn{
    transform: skewY(4deg);
}