@font-face {
    font-family: 'tanha';
    src: url(/fonts/Tanha-FD.woff2);
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    font-family: 'tanha';
    background-color: #151515;
}
.section_price{
    padding: 62px 0px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 19px;
}
.header{}
.text_header{
    color: #fff;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
.main{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,auto);
    justify-content: center;
    gap: 19px;
}
.box_main{
    border: 1px solid #464646;
    text-align: center;
    padding: 37px 22px;
    transform: skewY(-4deg);
    transition: all 0.3s ease-in;
}
.box_main:hover{
    background-color: #fff;
}
.box_main:hover .title_box_main{
    color: #000;
}
.box_main:hover .text_content_box_main{
    color: #444444;
}
.box_main:hover .item{
    color: #000;
}
.box_main:hover .btn{
    background-color: #f36100;
}
.box_main:hover .title_box_main{}
.title_box_main{
    transform: skewY(4deg);
    font-size: 28px;
    color: #fff;
}
.content_box_main{
    transform: skewY(4deg);
}
.number_price_content_box{
    color: #f36100;
    font-size: 59px;
    margin-bottom: 12px;
}
.text_content_box_main{
    color: #c4c4c4;
    font-weight: 700;
}
.list{
    transform: skewY(4deg);
    margin: 38px 0px;
}
.item{
    color: #c4c4c4;
    margin-bottom: 5px;
    font-weight: 700;
}
.btn{
    transform: skewY(4deg);
    width: 90%;
    padding: 14px 24px;
    background-color: #333333;
    border: none;
    font-size: 14px;
    color: #fff;
    font-weight: 300;
    font-family: 'tanha';
}